* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans 700', sans-serif;
	font-size: 15px;
	color: #626261;
	line-height: 1.6em;
}
h2, h3 {
	margin: 85px 0 5px 0;
}
.header, .wrap, .widewrap, .menu, #allgifts, .promo, .advantages figure, .opacity {
	width: 100%;
}
.widewrap, .wrap {
	min-width: 1147px;
}
.header {
	background: url(img/mainbg.jpg) no-repeat;
	background-size: cover;
}
.wrap {
	margin: 0 auto;
}
.center {
	text-align: center;
}
.allgoods ul {
	padding: 1.5em 0 8em 0;
}
.opacity {
	background-color: rgba(255,255,255,0.9);
	overflow: hidden;
}
.menu {
	line-height: 1em;
	max-width: 1147px;
	margin: 0 auto;
}
.menu ul, .allgoods ul {
	list-style: none;
}
.menu ul {
	float: left;
	margin-left: 20px;
}
.menu li, .allgoods li {
	display: inline-block;
}
.menu li {
	margin-right: 34px;
	padding: 26px 0;
}
.allgoods li {
	margin: 0 15px;
}
.menu a, .allgoods a, #allgifts {
	text-decoration: none;
}
.menu a {
	display: block;
	color: #797979;
	font-size: 14px;
}
.allgoods a, #allgifts {
	min-width: 105px;
	font-size: 11px;
	font-weight: bold;
	display: block;
	padding: 8px 36px;
	margin: 12px 0;
	border: 1.5px solid #ff3251;
	border-radius: 50px;
	text-align: center;
}
#allgifts {
	max-width: 105px;
	margin: 60px auto;
}
a.button {
	min-width: 110px;
	font-size: 11px;
	font-weight: bold;
	display: block;
	float: right;
	padding: 13px 36px;
	border: 1.5px solid #ff3251;
	border-radius: 50px;
	margin: 14px 20px;
	text-align: center;
}
.menu a#active {
	color: #ff3251 !important;
}
.promo {
	height: auto;
	background-color: rgba(0,0,0,0.4);
}
.promo:hover {
	background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.5) );
}
.promo a {
	display: block;
	text-decoration: none;
	padding: 12vw 0;
	text-align: center;
	font-size: 2.8vw;
	line-height: 3.8vw;
	color: #fff;
	text-shadow: 2px 1px 5px #000;
}
.inline figure {
	display: inline-block;
}
.advantages {
	padding: 60px 0 40px 0;
}
.advantages figure {
	max-width: 240px;
	vertical-align: top;
	padding: 10px 15px 30px 15px;
}
.advantages span {
	font-weight: 600;
	font-size: 15px;
	line-height: 2.5em;
}
.graybg {
	background-color: #f4f6f8;
	padding: 1px 0;
}
a#chosen {
	background-color: #ff3251;
	color: #fff;
}
.whitecards figure {
	max-width: 264px;
	height: 373px;
	background-color: #fff;
	margin: 0 9px 9px 9px;
	box-shadow: 1px 2px 10px rgba(0,0,0,0.1);
}
.whitecards figure>p {
	margin-bottom: 10px;
}
.whitecards figcapture p {
	font-size: 12px;
	font-weight: 600;
}
.whitecards figcapture p>span, .advantages span, h2, h3, a.button, .allgoods a, #allgifts {
	color: #ff3251;
}
.left div {
	text-align: left !important;
	display: inline-block;
	vertical-align: top;
	padding: 0 18px;
}
.contacts {
	padding: 20px 20px 0 0;
}