* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans 700', sans-serif;
	font-size: 15px;
	color: #626261;
	line-height: 1.6em;
}

.mainpage-header {
	width: 100%;
}

nav.main-menu {
	width: 1150px;
	margin: 0 auto;
}